:root {
    --coloruno: #000;
    --colordos: #fff;
    --colortres: #f0f0f0;
    --colorcuatro: #b1aeae;
    --fuenteuno: "Montserrat", sans-serif;
    --fuentedos: "Nunito", sans-serif;
    --efectouno: brightness(200%);
    --efectodos: brightness(50%);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-moz-selection {
    color: var(--colordos);
    background-color: var(--coloruno);
}

*::selection {
    color: var(--colordos);
    background-color: var(--coloruno);
}

body {
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.9);
}

/*-------------CONTENIDO DE LA PARTE SUPERIOR DE LA WEB------------------------------------------------*/

.header {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.6)
        ),
        url(../imagenes/fondo_header.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuenteuno);
    color: var(--coloruno);
}

.header__contenido {
    width: 45%;
    height: auto;
    padding: 60px 45px;
    outline: solid 4px var(--coloruno);
    border: solid 1px transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(240, 240, 240, 0.7);
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-animation-name: animacionHeader;
    animation-name: animacionHeader;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@-webkit-keyframes animacionHeader {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes animacionHeader {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.contenido__titulo {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.contenido__texto {
    color: #777;
    font-size: 1.2rem;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-weight: 500;
}

/*-----------CONTENIDO DE LA PARTE MEDIANA DE LA WEB-----------------------------------------------------*/

.section {
    width: 100%;
    height: auto;
    background-color: var(--colordos);
    padding: 150px 50px 75px 100px;
    color: var(--coloruno);
    position: relative;
}

.section__hidden {
    visibility: hidden;
}

/*--------------PRIMER ARTÍCULO DEL SECTION-----------------------*/

.section__about {
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.about__informacion {
    width: 45%;
}

.about__titulo {
    font-weight: 500;
    font-size: 2rem;
    line-height: 75px;
    font-family: var(--fuenteuno);
}

.about__texto {
    font-size: 1.5rem;
    font-family: var(--fuentedos);
    font-weight: 500;
}

.about__nombre {
    font-weight: 1000;
}

.about__avatar {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__imagen {
    width: 90%;
    aspect-ratio: 1;
}

/*-----------------------SEGUNDO ARTÍCULO DEL SECTION-------------------*/

.section__skills {
    width: 85%;
    margin: 100px auto;
}

.skills__habilidades {
    text-align: center;
    font-size: 2rem;
    font-family: var(--fuenteuno);
    font-weight: 500;
}

.skills__galeria {
    width: 70%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    -moz-column-gap: 10px;
    column-gap: 10px;
    align-content: center;
    align-content: center;
    justify-content: center;
}

.skills__links {
    width: 100%;
}

.skills__imagenes {
    width: 90%;
    aspect-ratio: 1;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.skills__imagenes:hover {
    transform: scale(1.08);
}

.skills__imagenes--illustrator:hover {
    -webkit-filter: saturate(150%);
    filter: saturate(150%);
}

/*--------------TERCER ARTÍCULO DEL SECTION--------------------*/

.section__proyecto {
    width: 85%;
    height: auto;
    margin: auto;
}

.proyecto__titulo {
    text-align: center;
    font-size: 2rem;
    font-family: var(--fuenteuno);
    font-weight: 500;
    margin: 100px 0 75px;
}

.proyecto__contenido {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 312px));
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}

.proyecto__cards {
    min-height: 188px;
    padding: 30px 50px;
    background-color: var(--colordos);
    border-radius: 10px;
    border: solid 4px var(--coloruno);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-family: var(--fuentedos);
    color: black;
}

.proyecto__cards--spotify {
    background-image: url(../imagenes/spotify.png);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

.proyecto__cards--buttons {
    background-image: url(../imagenes/buttons.png);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

.proyecto__cards--google {
    background-image: url(../imagenes/googleLogo.png);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

.cards__contenido {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    left: 0;
    bottom: -100%;
    padding: 20px 20px 10px;
    transition-property: bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--colordos);
}

.proyecto__cards:hover > .cards__contenido {
    bottom: 0;
}

.cards__titulo {
    text-align: center;
    font-size: 22px;
    padding: 5px 5px 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.cards__titulo::before {
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    bottom: 5px;
    background-color: var(--colordos);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0.5s;
    transform: scaleX(0);
}

.proyecto__cards:hover .cards__titulo::before {
    transform: scaleX(1);
}

.cards__comentario {
    color: rgba(255, 255, 255, 0.5);
}

.proyecto__cards:hover .cards__titulo::-moz-selection,
.cards__informacion::-moz-selection,
.cards__comentario::-moz-selection {
    background-color: var(--colordos);
    color: var(--coloruno);
}

.proyecto__cards:hover .cards__titulo::-moz-selection, .cards__informacion::-moz-selection, .cards__comentario::-moz-selection {
    background-color: var(--colordos);
    color: var(--coloruno);
}

.proyecto__cards:hover .cards__titulo::selection,
.cards__informacion::selection,
.cards__comentario::selection {
    background-color: var(--colordos);
    color: var(--coloruno);
}

.cards__links {
    margin: 0 auto;
    width: 80%;
    background-color: puple;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cards__iconos {
    font-size: 25px;
    color: var(--colordos);
    transition: color 0.2s ease;
}

.cards__iconos--link {
    font-size: 20px;
}
.cards__iconos--spotify:hover {
    color: #1db954;
}

.cards__iconos--buttons:hover {
    color: #341f97;
}

.cards__iconos--google:hover {
    color: #808080;
}

.proyecto__imagen {
    width: 3.5rem;
}

.proyecto__texto {
    font-family: var(--fuentedos);
    font-weight: 600;
    padding: 20px 0 0;
    text-align: center;
    font-size: 1.2rem;
}

.section__linea {
    border: solid 2px var(--coloruno);
    background-color: var(--coloruno);
    border-radius: 11px;
    width: 85%;
    margin: 100px auto;
}

/*--------------CUARTO ARTÍCULO DEL SECTION-------------------*/

.section__contacto {
    width: 100%;
    height: auto;
}

.contacto__formulario {
    width: 45%;
    height: auto;
    margin: auto;
    padding: 50px 30px;
    background-color: var(--colordos);
    color: var(--coloruno);
    font-family: var(--fuenteuno);
    border: solid black 3px;
}

.contacto__titulo {
    font-family: var(--fuenteuno);
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    color: var(--coloruno);
    text-shadow: 0 0 1q var(--coloruno);
}

.contacto__subtitulo {
    text-align: center;
    margin: 10px 0 20px;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 0 1q var(--coloruno);
}

.contacto__informacion {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0 0;
}

.contacto__input {
    width: 48%;
    outline: none;
    border: none;
    border-bottom: solid var(--coloruno) 3px;
    padding: 0 5px 3px;
    font-family: var(--fuenteuno);
    font-size: 16px;
    background-color: var(--colordos);
    font-weight: 500;
}

.contacto__mensaje {
    width: 100%;
    background-color: var(--colordos);
    border: solid var(--coloruno) 3px;
    margin: 20px 0 0;
    height: 100px;
    padding: 15px 5px 15px 15px;
    resize: none;
    border-radius: 0px;
    font-family: var(--fuenteuno);
    font-weight: 500;
}

.contacto__input::-webkit-input-placeholder,
.contacto__mensaje::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 400;
}

.contacto__input::-moz-placeholder,
.contacto__mensaje::-moz-placeholder {
    font-size: 15px;
    font-weight: 400;
}

.contacto__input:-ms-input-placeholder,
.contacto__mensaje:-ms-input-placeholder {
    font-size: 15px;
    font-weight: 400;
}

.contacto__input::-ms-input-placeholder,
.contacto__mensaje::-ms-input-placeholder {
    font-size: 15px;
    font-weight: 400;
}

.contacto__input::-webkit-input-placeholder, .contacto__mensaje::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 400;
}

.contacto__input::-moz-placeholder, .contacto__mensaje::-moz-placeholder {
    font-size: 15px;
    font-weight: 400;
}

.contacto__input:-ms-input-placeholder, .contacto__mensaje:-ms-input-placeholder {
    font-size: 15px;
    font-weight: 400;
}

.contacto__input::-ms-input-placeholder, .contacto__mensaje::-ms-input-placeholder {
    font-size: 15px;
    font-weight: 400;
}

.contacto__input::placeholder,
.contacto__mensaje::placeholder {
    font-size: 15px;
    font-weight: 400;
}
.contacto__hr {
    width: 100%;
    height: 3px;
    background-color: var(--coloruno);
    margin: 20px 0 0;
}

.contacto__submit {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0 0;
}

.contacto__enviar {
    width: 100%;
    height: auto;
    background-color: var(--colordos);
    border: solid 3px var(--coloruno);
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
    padding: 11px;
}

.contacto__enviar:hover,
.contacto__enviar:focus {
    color: var(--colordos);
    background-color: var(--coloruno);
}

.contacto__boton {
    height: auto;
    margin: 0 0 0 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 5px;
    border: solid black 3px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.contacto__boton:hover,
.contacto__boton:focus {
    background-color: black;
}

.contacto__chat {
    width: 45%;
    height: auto;
    margin: 20px auto 0;
    padding: 20px 0;
    background-color: var(--coloruno);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colordos);
    font-family: var(--fuenteuno);
    transition: background-color 0.3s ease;
}

.contacto__chat:hover {
    background-color: #128c73;
}

.contacto__chat *::-moz-selection {
    background-color: white;
    color: black;
}

.contacto__chat *::selection {
    background-color: white;
    color: black;
}

.contacto__whatsapp {
    font-size: 1.5em;
    margin: 0 10px 0 0;
    text-align: center;
}

.contacto__icono {
    font-size: 2.2rem;
}

/*--------CONTENIDO DE LA PARTE INFERIOR DE LA WEB--------------------------------------------------------*/

.footer {
    width: 100%;
    height: auto;
    background-color: var(--coloruno);
    padding: 20px;
}

.footer__redes {
    width: 15%;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    list-style: none;
}

.redes__iconos {
    color: var(--coloruno);
    transition-property: -webkit-filter;
    transition-property: filter;
    transition-property: filter, -webkit-filter;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    font-size: 1.5rem;
    background-color: var(--colordos);
    border-radius: 50%;
    padding: 10px;
}

.redes__iconos:hover {
    -webkit-filter: var(--efectodos);
    filter: var(--efectodos);
}

/*-----------------------MEDIA QUERYS-----------------*/

@media (max-width: 1024px) {
    .skills__imagenes {
        width: 100%;
        aspect-ratio: 1;
    }

    .contacto__formulario,
    .contacto__chat {
        min-width: 70%;
    }

    .footer__redes {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .header__contenido {
        width: 60%;
        padding: 50px 0px;
    }

    .section__about {
        width: 90%;
        flex-direction: column;
    }

    .about__informacion {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .about__avatar {
        width: 70%;
    }

    .about__imagen {
        width: 100%;
        aspect-ratio: 1;
    }

    .skills__galeria {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
    }

    .contacto__informacion {
        flex-direction: column;
    }

    .contacto__input {
        width: 100%;
    }

    .contacto__input--correo {
        margin: 20px 0 0 0;
    }
    .contacto__formulario,
    .contacto__chat {
        width: 75%;
    }

    .footer__redes {
        width: 35%;
    }
}

@media (max-width: 576px) {
    .header__contenido {
        width: 60%;
        padding: 50px 10px;
    }

    .contenido__titulo {
        font-size: 1.8rem;
    }

    .contenido__texto {
        font-size: 1rem;
    }

    .section {
        padding: 150px 20px 100px;
    }

    .about__texto {
        font-size: 1.3rem;
        flex-direction: column;
    }

    .about__avatar {
        width: 100%;
    }

    .about__imagen {
        width: 100%;
        aspect-ratio: 1;
    }

    .skills__galeria {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
    }
    .contacto__formulario,
    .contacto__chat {
        width: 95%;
    }

    .contacto__whatsapp {
        font-size: 28px;
    }

    .contacto__icono {
        font-size: 2.5rem;
    }
    .contacto__titulo {
        font-size: 1.2rem;
    }

    .footer__redes {
        width: 100%;
    }
}
